
.header {
	padding: 50px 100px;
	text-align: center;
	background-color: #aca704;
	font-size: 32px;
	font-family: sans-serif;
	color: #fff;
}

.main {
	background-color: #10ab10;
	padding: 50px 100px;
	font-size: 38px;
	font-family: sans-serif;
	text-align: center;
	color: #fff;
}

.footer {
	background-color: #757875;
	padding: 50px;
	font-size: 32px;
	font-family: sans-serif;
	text-align: center;
	color: #fff;
}

